
body
{background-color:hotpink;}
hr{
    border-color: grey;
border-style: dotted;

border-width: 3px;
width:4%;
}
h1{
    color:#66bfbf;
}
h3
{
 color: #66bfbf;   
}
.circular{
    border-radius: 100%;

}
img:hover{
    background-color: aqua;
}